body {
  font-family: sans-serif;
  background-color: #fbfbff;
  color: #222e50;
  margin: 0;
  padding: 2rem;
}

header {
  background-color: #44bba4;
  color: white;
  padding: 1.5rem;
  border-radius: 8px;
  margin-bottom: 2rem;
}

h1 {
  margin: 0;
}

h2 {
  color: #5aa9e6;
  margin-top: 2rem;
}

footer {
  margin-top: 4rem;
  font-size: 0.9rem;
  color: #92828d;
}
